<div class="formSec w-g-md-4 m-auto br6 pos-rel hideflow" id="forgotForm">
    <h3 class="fs5">Forgot Password</h3>
    <div
        *ngIf="formError != null"
        class="fc10 formError animated fadeInUp fast text-center"
        (click)="formError = null"
    >
        {{ formError }}
    </div>
    <div
        *ngIf="formSuccess != null"
        class="fc5 bg1 br4 formError animated fadeInDown fast text-center"
        (click)="formError = null"
    >
        {{ formSuccess }}
    </div>
    <div class="form-wrapper text-left">
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <div
                class="input-wrapper"
                [ngClass]="{
                    'error animated shake fast': f['role'].errors?.['backendError']
                }"
            >
                <label class="input-icon"
                    ><i class="sprite-xs icon-1"></i
                ></label>
                <mat-select formControlName="role" class="form-input">
                    <mat-option value="">Select Role</mat-option>
                    <mat-option [value]="roles.Admin">Administrator</mat-option>
                    <mat-option [value]="roles.Individual"
                        >Owner/Buyer</mat-option
                    >
                    <mat-option [value]="roles.Lawyer">Lawyer</mat-option>
                    <mat-option [value]="roles.Insurer">Insurer</mat-option>
                    <mat-option [value]="roles.Lender">Lender</mat-option>
                    <mat-option [value]="roles.Municipality"
                        >Municipal Authority</mat-option
                    >
                    <mat-option [value]="roles.Easement"
                        >Easement Holder</mat-option
                    >
                </mat-select>
                <div *ngIf="submitted && f['role'].errors" class="input-error">
                    <div *ngIf="f['role'].errors['required']">Select role</div>
                </div>
            </div>
            <div
                class="input-wrapper"
                [ngClass]="{
                    'error animated shake fast': f['email'].errors?.['backendError']
                }"
            >
                <label class="input-icon bg1"
                    ><i class="sprite-xs icon-1"></i
                ></label>
                <input
                    type="text"
                    formControlName="email"
                    class="form-input w-g-12"
                    placeholder="Email ID"
                />
                <div *ngIf="submitted && f['email'].errors" class="input-error">
                    <div *ngIf="f['email'].errors['required']">
                        Email is required
                    </div>
                    <div *ngIf="f['email'].errors['pattern']">
                        Invalid email
                    </div>
                    <div *ngIf="f['email'].errors['backendError']">
                        {{ backendErrorText }}
                    </div>
                </div>
            </div>
            <div class="input-wrapper text-center">
                <button class="btn btn-blue fs3 fw5" type="submit">
                    Reset
                </button>
            </div>
        </form>
    </div>
</div>
