<div class="formSec w-g-md-4 m-auto br6 pos-rel" id="loginForm">
    <h3 class="fs5">Login</h3>
    <div class="form-wrapper text-left">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div
                class="input-wrapper"
                [ngClass]="{
                    'error animated shake fast': f['role'].errors?.['backendError']
                }"
            >
                <label class="input-icon"
                    ><i class="sprite-xs icon-1"></i
                ></label>
                <mat-select formControlName="role" class="form-input">
                    <mat-option value="">Select Role</mat-option>
                    <mat-option [value]="roles.Admin">Administrator</mat-option>
                    <mat-option [value]="roles.Individual"
                        >Owner/Buyer</mat-option
                    >
                    <mat-option [value]="roles.Lawyer">Lawyer</mat-option>
                    <mat-option [value]="roles.Insurer">Insurer</mat-option>
                    <mat-option [value]="roles.Lender">Lender</mat-option>
                    <mat-option [value]="roles.Municipality"
                        >Municipal Authority</mat-option
                    >
                    <mat-option [value]="roles.Easement"
                        >Easement Holder</mat-option
                    >
                </mat-select>
                <div *ngIf="submitted && f['role'].errors" class="input-error">
                    <div *ngIf="f['role'].errors['required']">Select role</div>
                </div>
            </div>
            <div
                class="input-wrapper"
                [ngClass]="{
                    'error animated shake fast':
                        f['emailID'].errors?.['backendError']
                }"
            >
                <label class="input-icon bg1"
                    ><i class="sprite-xs icon-1"></i
                ></label>
                <input
                    type="email"
                    formControlName="emailID"
                    class="form-input w-g-12"
                    placeholder="Email Id"
                />
                <div
                    *ngIf="submitted && f['emailID'].errors"
                    class="input-error"
                >
                    <div *ngIf="f['emailID'].errors['required']">
                        Email is required
                    </div>
                    <div *ngIf="f['emailID'].errors['pattern']">
                        Invalid email
                    </div>
                    <div *ngIf="f['emailID'].errors['backendError']">
                        {{ backendErrorText }}
                    </div>
                </div>
            </div>
            <div
                class="input-wrapper"
                [ngClass]="{
                    'error animated shake fast': f['password'].errors?.['backendError']
                }"
            >
                <label class="input-icon bg1"
                    ><i class="sprite-xs icon-13"></i
                ></label>
                <input
                    type="password"
                    formControlName="password"
                    class="form-input w-g-12"
                    placeholder="Password"
                />
                <div
                    *ngIf="submitted && f['password'].errors"
                    class="input-error"
                >
                    <div *ngIf="f['password'].errors['required']">
                        Password is required
                    </div>
                    <div *ngIf="f['password'].errors['backendError']">
                        {{ backendErrorText }}
                    </div>
                </div>
            </div>
            <div class="input-wrapper w-g-6 col" *ngIf="resend">
                <a (click)="resendVerification()" class="fs0 tduh"
                    >Resend verification email</a
                >
            </div>
            <div class="input-wrapper w-g-6 col" [class.text-right]="resend">
                <a routerLink="/user/forgot" class="fs0 tduh"
                    >Forgot Password?</a
                >
            </div>
            <div class="clearfix"></div>
            <div
                *ngIf="formError != null"
                class="fc10 formError animated fadeInUp fast text-center"
                (click)="formError = null"
            >
                {{ formError }}
            </div>
            <div class="input-wrapper text-center">
                <button class="btn btn-blue fs3 fw5" type="submit">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>
