<div class="formSec w-g-md-4 m-auto br6 pos-rel hideflow" id="resetForm">
    <h3 class="fs5">Reset Password</h3>
    <div
        *ngIf="formError != null"
        class="fc10 bg1 formError animated fadeInDown fast"
        (click)="formError = ''"
    >
        {{ formError }}
    </div>
    <div
        *ngIf="formSuccess != null"
        class="fc5 bg1 br4 formError animated fadeInDown fast text-center"
        (click)="formError = null"
    >
        {{ formSuccess }}
    </div>
    <div class="form-wrapper text-left">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div
                class="input-wrapper"
                [ngClass]="{
                    'error animated shake fast':
                        f['newPassword'].errors?.['backendError']
                }"
            >
                <label class="input-icon bg1"
                    ><i class="sprite-xs icon-2"></i
                ></label>
                <input
                    type="password"
                    formControlName="newPassword"
                    class="form-input w-g-12"
                    placeholder="New Password"
                />
                <div
                    *ngIf="submitted && f['newPassword'].errors"
                    class="input-error"
                >
                    <div *ngIf="f['newPassword'].errors['required']">
                        Enter New Password
                    </div>
                    <div *ngIf="f['newPassword'].errors['pattern']">
                        Need strong Password
                    </div>
                    <div *ngIf="f['newPassword'].errors['backendError']">
                        {{ backendErrorText }}
                    </div>
                </div>
            </div>
            <label class="fs1 d-block cell"
                >Atleast 8 Characters with 1 uppercase, 1 lowercase, 1 numeric
                and 1 Special Character</label
            >
            <div class="input-wrapper">
                <label class="input-icon bg1"
                    ><i class="sprite-xs icon-2"></i
                ></label>
                <input
                    type="password"
                    formControlName="confirmPassword"
                    class="form-input w-g-12"
                    placeholder="Confirm Password"
                />
                <div
                    *ngIf="submitted && f['confirmPassword'].errors"
                    class="input-error"
                >
                    <div *ngIf="f['confirmPassword'].errors['required']">
                        Confirm New Password
                    </div>
                    <div *ngIf="f['confirmPassword'].errors['mustMatch']">
                        Passwords doesn't match
                    </div>
                </div>
            </div>
            <div class="input-wrapper text-center">
                <button class="btn btn-blue fs3 fw5" type="submit">
                    Reset Password
                </button>
            </div>
        </form>
    </div>
</div>
